body{
    scroll-behavior: smooth;
}
.content{
    background-image: url("https://images.unsplash.com/photo-1605003179269-c446bb939f00?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-size: cover;
}

.btwnPages{
    height: 10vh;
}

#welcome, #tasks, #wheel, #hooray{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#welcome>.col{
    text-align: center;
}

h1{
    font-size: 30px;
}

p{
    font-size: 15px;
}

.taskContainer{
    width:80%;
}

.wheelContainer{
    width: 500px;
    height: 500px;
    background-color: #f2b8c6;
    border-width: 2px;
    border-radius: 50%;
}
.wheelTasks{
    border-color: white;
}